<header>
  <div class='name'> ANDY </div>
  <div class='name'> THAM </div>
  <div> - full stack developer - </div>
  <div class='nav-wrapper'>
    <div class='nav'> home </div>
    <div class='nav'> about </div>
    <div class='nav'> contact </div>
    <div class="nav"> blog </div>
    <div class="nav"> github </div>
  </div>
</header>
