<header>
  <div class='name' id="andy"> ANDY </div>
  <div class='name'> THAM </div>
  <div class='tagline'> - full stack developer - </div>
  <div class='nav-wrapper'>
    <div class="nav"><a href="#"> home </a></div>
    <div class="nav"> <a href="#">about</a> </div>
    <div class="nav"> <a href="#">contact</a> </div>
    <div class="nav"><a href="https://medium.com/@thamandyy"> blog </a> </div>
    <div class="nav"><a href="https://github.com/andytham"> github </a> </div>
  </div>
</header>
