<div class='portfolio'>
<!--(div.portfolio-item>(div.proj-img+div.proj-imgHover+div.proj-title+div.proj-desc)){}-->


<div class="portfolio-item">
  <div class="image-wrapper">
    <img class="proj-img" src='images/pawns.png'>
    <img class="proj-imgHover" src='images/pawnsHover.png'>
  </div>
  <div class="proj-title">Game of Pawns</div>
  <div class="proj-desc">Beginner's Chess - A variation of chess where the only pieces are pawns. Created from scratch.</div>
</div>
<div class="portfolio-item">
  <div class="proj-img"></div>
  <div class="proj-imgHover"></div>
  <div class="proj-title"></div>
  <div class="proj-desc"></div>
</div>
<div class="portfolio-item">
  <div class="proj-img"></div>
  <div class="proj-imgHover"></div>
  <div class="proj-title"></div>
  <div class="proj-desc"></div>
</div>

</div>
