<ul class='portfolio'>
<!--(div.portfolio-item>(div.proj-img+div.proj-imgHover+div.proj-title+div.proj-desc)){}-->


<li class="proj-wrapper">
  <div class="image-wrapper">
    <img class="proj-img" src='images/pawns.png'>
    <img class="proj-imgHover" src='images/pawnsHover.png'>
  </div>
  <div class="proj-title"><a class="proj-link" href="https://codepen.io/andytham/pen/goOGPZ">Game of Pawns</a></div>
  <div class="proj-desc">A variation of chess where the only pieces are pawns, created from scratch.</div>
</li>
<li class="proj-wrapper">
  <div class="image-wrapper">
    <img class="proj-img" src='images/racer.png'>
    <img class="proj-imgHover" src='images/racerHover.png'>
  </div>
  <div class="proj-title"><a class="proj-link" href="https://codepen.io/andytham/pen/jaejbL">Smash Racers</a></div>
  <div class="proj-desc">Simple racer game</div>
</li>

<li class="proj-wrapper">
  <div class="image-wrapper">
    <img class="proj-img" src='images/color.png'>
    <img class="proj-imgHover" src='images/colorHover.png'>
  </div>
  <div class="proj-title"><a class="proj-link" href="https://codepen.io/andytham/pen/GOwMoY">Color Switcher </a></div>
  <div class="proj-desc">Simple color switcher randomized on load</div>
</li>

</div>
